*.cache
bin/*
*.vpk
*.scr
*.txt
*.tmp
demos/
download/
maps/
*.zip
materials/
media/
resource/
scripts/
*.vdf
*.inf
*.dmx
*.dt

cfg/360controller-linux.cfg
cfg/360controller.cfg
cfg/chapter1.cfg
cfg/chapter2.cfg
cfg/chapter3.cfg
cfg/config.cfg
cfg/config_default.cfg
cfg/mtp.cfg
cfg/overrides/*
cfg/replay_example.cfg
cfg/server_247_mannpower.cfg
cfg/server_247_rounds.cfg
cfg/server_bootcamp.cfg
cfg/server_casual.cfg
cfg/server_casual_max_rounds_win_conditions.cfg
cfg/server_casual_max_rounds_win_conditions_mannpower.cfg
cfg/server_casual_rounds_win_conditions.cfg
cfg/server_casual_stopwatch_win_conditions.cfg
cfg/server_competitive.cfg
cfg/server_competitive_max_rounds_win_conditions.cfg
cfg/server_competitive_max_rounds_win_conditions_high_skill.cfg
cfg/server_competitive_rounds_win_conditions.cfg
cfg/server_competitive_rounds_win_conditions_high_skill.cfg
cfg/server_competitive_stopwatch_win_conditions.cfg
cfg/server_competitive_stopwatch_win_conditions_high_skill.cfg
cfg/server_limited_rounds.cfg
cfg/server_limited_time.cfg
cfg/server_mannup.cfg
cfg/server_matchmaking_base.cfg
cfg/server_mvm.cfg
cfg/sixense_bindings.cfg
cfg/sourcevr_tf.cfg
cfg/tr_walkway_config.cfg
cfg/undo360controller.cfg
glshaders.cfg
videoconfig_linux.cfg
workshop/*
